# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user
# Set system language
lang en_US
# Set the authentication options for the system
auth --passalgo=sha512 --useshadow
# Set keyboard layout
keyboard --xlayouts='us'
# Set timezone
timezone America/New_York --utc
# License agreement
eula --agreed
# Set root PW
rootpw $2b$10$bJfrJYHG2C9vEJlKcDWqIuBJRuy4zjRZeHY.ZLSeJUHk7EwHe/67G --iscrypted
# Reboot after installation
reboot
# Text only installer
text
# Boot from first available CDROM device
cdrom
# Automatically creates partitions required by your hardware platform. These include a /boot/efi 
reqpart
# System bootloader configuration
bootloader --location=boot --append="rhgb quiet crashkernel=1G-4G:192M,4G-64G:256M,64G-:512M"
# Initializes any invalid partition tables that are found on disks
zerombr
# Clear all partions
clearpart --all --initlabel
# Create partitions and LVM groups
volgroup system --pesize=4096 pv.0
part pv.0 --fstype=lvmpv --ondisk=sdb --size=70000
volgroup data --pesize=4096 pv.1
part pv.1 --fstype=lvmpv --ondisk=sdc --size=30000
part /boot --fstype=xfs --ondisk=sda --size=1024
logvol / --vgname=system --name=system_root --fstype=xfs --size=40000
logvol /var --vgname=system --name=system_var --fstype=xfs --size=10000
logvol /var --vgname=system --name=system_varlog --fstype=xfs --size=5000
logvol /var --vgname=system --name=system_varlogaudit --fstype=xfs --size=5000
logvol /tmp --vgname=system --name=system_tmp --fstype=xfs --size=10000
logvol /home --vgname=data --name=data_home --fstype=xfs --size=30000
# Do not install X Window System
skipx
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=rhel9.localdomain
# Add a user named packer
user --groups=wheel --name=packer --password=$6$Jaa5U0EwAPMMp3.5$m29yTwr0q9ZJVJGMXvOnm9q2z13ldUFTjB1sxPHvaiW4upMSwQ50181wl7SjHjh.BTH7FGHx37wrX..SM0Bqq. --iscrypted --gecos="packer"
# Disable first boot configuration 
firstboot --disable
# Enable SE Linux
selinux --enforcing
# Enable firewall and permit SSH
firewall --enabled --ssh
# Perform minimal install
%packages
@^minimal-environment
kexec-tools
# Exclude unnecessary firmwares
-iwl*firmware
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'packer'
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/packer
%end